* {
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

header {
  width: 100%;
  background-color: rgb(231, 155, 14);
  color: black;
  text-align: center;
  margin: 0;
  padding-top: 1em;
}


h1 {
  font-size: 3em;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
 
}
.about{
  max-width: 100%;
  height: 15em;
  object-fit: contain;
  font-family: 'Crimson Text', serif;
  padding-bottom: 1em;
}
.about_p{
  line-height: 0.05em;
  padding-top: 1em;
}
section{
  text-align: center;
  font-size: 1rem;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
}

ul.topnav {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(231, 155, 14);
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  width: 100%;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Crimson Text', serif;
  font-weight: bold;

}

ul.topnav li a:hover:not(.active) {
  background-color: grey;
}

ul.topnav li a.active {
  background-color: grey
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {

  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

footer {
  width: 100%;
  margin:0;
  padding-top: 1rem;
  padding-bottom: 0;
  background-color: rgb(231, 155, 14);
  color: white;
  text-align: center;
  position:fixed;
  left: 0;
  bottom: 0;
  font-family: 'Crimson Text', serif;
  font-weight: bold;

 
}

.row{

  width: 100%;
  margin-left: 1em;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
  padding-top: 3em;
 
}


.carousel-inner img {
  width: 600px;
  color: #000;
}

.carousel-caption h4,
.carousel-item {
  color: black;
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  padding-top: 1%;
}
.carro{
  width: 100%;
  height: 25em;
  object-fit: contain;

}

.control-label {
  font-family: 'Crimson Text', serif;
  font-weight: bold;
 
}

.formulario{
  padding-bottom: 2rem;
  padding-top: 2rem;
 
}

.desc {
  padding: 1%;
  text-align: center;
}


.subtitulo{
font-family: 'Crimson Text', serif;
text-align: center;

}

.titulo {
  font-family: 'Crimson Text', serif;
  font-weight: bold; 
  text-align: center ;
  padding: 1em;
}


@media screen and (max-width: 600px) {
 section,.about_p{
    width: 100%;
    float: left;
    
  }
}

@media all and (max-width: 600px){
  .row{
      width:75%;
      float: left;
    
  }
}

@media all and (max-width: 500px){
  footer{
    
      height:auto;
      position: fixed;
    
  }
}
